h1 {
  font-size: 250px;
  font-family: biko;
  line-height: 0.8;
}

h2 {
  font-size: 250px;
  font-family: biko;
  margin-top: 40px;
  line-height: 0.8;
}

h3 {
  font-size: 75px;
  font-family: biko;
  line-height: 0.8;
}

h4 {
  font-size: 70px;
  font-family: biko;
  text-align: center;
}
